.infoContainer {
  min-height: 100vh;
  height: 100vh;
  max-height: fit-content;
  /* width: 100vw; */
  max-width: 100vw;
  background-image: url("../../Assets/sterabgi.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.infoBackContainer {
  height: 100%;
  width: 100%;
  max-width: 100vw;
  background-image: url("../../Assets/Path1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.surface1 {
  height: 60vh;
  position: absolute;
  right: 0;
  margin-top: 6vh;
}

.title {
  margin-left: 2vh;
  margin-top: 5vh;
}
.infoFrontContainer {
  margin-left: 41.666667%;
  flex: 0 0 50%;
  max-width: 50%;
  margin-top: -85vh;
}
.title {
  font-size: 43px;
  font-weight: 800;
  color: #6a6a6a;
}
.infoInner {
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.uv {
  color: #5b90fb;
}
.miniTitle,
.miniBoldTitle {
  font-size: 25px;
  font-weight: 450;
  padding-left: 3vh;
  color: #737475;
}
.miniBoldTitle {
  font-size: 27px;
  font-weight: bold;
}
.buyBtn {
  width: 160px;
  height: 46px;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #5b90fb;
  color: #efe8e8;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid #efe8e8;
  border-radius: 35px;
  outline-width: 0;
  margin-top: 3vh;
  margin-left: 2vh;
  z-index: 10;
}
.buyBtn:hover {
  text-decoration: none;
  color: #efe8e8;
}
.features {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: -2vh;
}
.infoFooter {
  display: flex;
  margin-top: 6vh;
  margin-bottom: 1vh;
}
.bottomTitle {
  font-size: 16px;
  font-weight: 600;
  color: #737475;
  padding-left: 3vh;
}
.linksToSocial {
  display: flex;
  margin-left: 15px;
}
.linksToSocial > a > img,
.linksToSocial > a > img:hover {
  margin-left: 25px;
  height: 22px;
  text-decoration: none;
}
.mobileView {
  visibility: hidden;
}
@media screen and (max-width: 480px) {
  .surface1 {
    height: 30vh;
    object-position: 20% 10%;
  }
  .miniBoldTitle {
    display: flex;
    margin-top: 2vh;
    font-size: 14px;
    justify-content: center;
    margin-left: -5vw;
  }
  .buyBtn {
    width: 110px;
    font-size: 18px;
    height: 36px;
    margin-top: 5vh;
  }
  .title {
    font-size: 19px;
  }
  .miniTitle {
    font-size: 14px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    margin-left: 1.5vw;
  }
  .bottomTitle {
    margin-left: -44vw;
    width: 100vw;
    margin-top: 0vh;
  }
  .infoContainer {
    background-image: url("../../Assets/steracs.png");
    background-size: 100% 55%;
  }
  .infoBackContainer {
    background-size: 100% 55%;
  }
  .linksToSocial,
  .infoFrontContainer,
  .infoInner {
    display: none;
  }
  .mobileView {
    /* display: flex; */
    visibility: visible;
    margin-top: -60vh;
  }
  .textBtnContainer {
    display: flex;
    padding-left: 3vw;
  }
  .features {
    grid-template-columns: auto auto;
    margin-left: 12vw;
  }
}
