.mainFeaturesContainer{
    background-color: #ECEBEB;
    height:fit-content;
    width:100vw;
    max-width: 100vw;
    padding-top:20px;
}
.mainFeaturesTop{
    display: flex;
}
.mainFeaturesTop > img{
    position: absolute;
    right:0;
    height:50vh;
    width:100px;
    overflow: hidden;
}
.mainFeaturesTop > h5{
    font-size: 30px;
    font-weight: bold;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}
.mainFeatures{
    margin-top: 5vh;
    background-color:#d3d3d3;
    height:fit-content;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    border:1px solid #BCB9B9;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
.border{
    margin-bottom: 10px;
    height:8px;
    width:100%;
    background-color:#5B90FB;
}
@media screen and (max-width: 730px) {
    .mainFeatures{
        grid-template-columns: auto auto auto auto;
    }
    .mainFeaturesContainer{
        height: fit-content;
    }     
}
@media screen and (max-width: 630px) {
    .mainFeatures{
        grid-template-columns: auto auto auto;
    }
    .mainFeaturesContainer{
        height: fit-content;
    }     
}
@media screen and (max-width: 480px) {
    .mainFeatures{
        grid-template-columns: auto auto;
        margin-top: 3vh;
    }
    .mainFeaturesContainer{
        height: fit-content;
    }     
}