.aboutUsContianer {
  min-height: 100vh;
  height: fit-content;
  /* width: 100%; */
  max-width: 100vw;
  background-image: url("../../Assets/product.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.divider {
  height: 40px;
  max-width: 100vw;
  background-color: #4d413f3f;
}
.divider > span {
  font-size: 23px;
  font-weight: 700;
  color: #262626;
  display: flex;
  justify-content: center;
}
.miniDivider {
  height: 8px;
  width: 100%;
  background-color: #5b90fb;
  margin-bottom: 35px;
}
.aboutInfoContainer {
  height: fit-content;
  width: 46vw;
  border: 1px solid rgba(192, 192, 192, 0.3);
  background-color: rgba(192, 192, 192, 0.3);
  border-radius: 15px;
  margin-left: 3vw;
  /* margin-bottom: 10vh; */
}
.aboutInfoInnerContainer {
  margin-top: 6%;
  margin-left: 7%;
  margin-right: 3%;
  display: flex;
  flex-direction: column;
  margin-bottom: 6vh;
}
.uv {
  color: #5b90fb;
}
.infoHeaderTitle {
  font-weight: bold;
  font-size: 26px;
  color: #262626;
}
.infoQuestion {
  font-size: 14px;
  font-weight: 700;
  margin-top: 3%;
}
.answer,
.aboutUVInfo {
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #2d2d2d;
  font-weight: 600;
}
.aboutUV {
  font-size: 14px;
  font-weight: 700;
}
.knowMoreBtn {
  width: 100%;
  border: 1px solid #444242;
  border-radius: 40px;
  color: white;
  background-color: #444242;
  font-size: 19px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 1vh;
  outline-width: 0;
}
@media screen and (max-width: 480px) {
  .aboutInfoContainer {
    width: 90vw;
  }
  .aboutUsContianer{
    background-image: none;
    margin-bottom: 1vh;
  }
  .answer,
  .aboutUVInfo {
    color: #646567;
    font-weight: 600;
  }
  .answer,
  .aboutUVInfo {
    font-size: 13px;
  }
  .aboutUV {
    font-size: 16px;
  }
  .infoQuestion {
    font-weight: bolder;
  }
  .infoHeaderTitle{
    font-size: 16px;
  }
}
