.container {
  max-width: 100vw;
}
.divider {
  height: 50px;
  width: 100%;
  background-color: #262626;
  margin-bottom: 0px;
}
.carouselContainer {
  height: 60vh;
  width: 35vw;
  margin-left: 90px;
  margin-top: 18px;
}
.carouselContainer img {
  height: 65vh;
  width: 45vw;
}
.buyLinks {
  max-width: 100vw;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI";
}
.divider > h5 {
  color: white;
  font-size: 32px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 0px;
}
.productContainer {
  display: flex;
  height: fit-content;
  margin-bottom: 40px;
}
.productLeftView,
.productRightView {
  display: flex;
  flex-direction: column;
  flex: 0.5;
  margin-left: 1vw;
}
.uv {
  color: #5b90fb;
  font-size: 39px;
  font-weight: bold;
  margin-right: 10px;
}
.disinfect {
  font-size: 39px;
  font-weight: bold;
  color: #545353;
}
.kills {
  color: #85888d;
  font-size: 18px;
  margin-right: 5px;
}
.cv {
  color: #5b90fb;
  font-size: 18px;
  font-weight: bold;
  margin-top: -13px;
}
.specifications {
  color: #545353;
  font-size: 24px;
  font-weight: bold;
  margin-top: 3px;
  margin-bottom: 10px;
}
.productInfo {
  display: flex;
  flex-direction: column;
}
.subProdInfo {
  display: flex;
}
.subProdSpan {
  color: #6d6868;
  font-size: 16px;
  font-weight: bold;
  width: 175px;
}
.subProdPara {
  font-size: 15px;
  width: 30vw;
  font-weight: 500;
  color: #85888d;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 0.5rem;
}
.price {
  font-weight: bold;
  font-size: 24px;
  color: #545353;
}
.amount {
  font-size: 37px;
  font-weight: bold;
}
.buy {
  display: flex;
}
.buyBtn {
  width: 145px;
  height: 40px;
  background-color: #5b90fb;
  color: #efe8e8;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #efe8e8;
  border-radius: 35px;
  margin-left: 20%;
  outline-width: 0;
  cursor: pointer;
}
.miniDivider {
  height: 8px;
  width: 100%;
  background-color: #5b90fb;
  margin-bottom: 35px;
}
.amazon,
.flipkart {
  height: 120px;
  margin-right: 3%;
  margin-bottom: 5%;
}
.amazon > img,
.flipkart > img {
  height: 100px;
  width: 230px;
  cursor: pointer;
}
.shoppingLinks {
  display: flex;
  justify-content: center;
  margin-right: auto;
  width: 100%;
}

.bulkorders > span {
  font-size: 27px;
  font-weight: bold;
  padding-left: 5px;
}
.bulkorders {
  display: flex;
  justify-content: center;
  margin-top: -5%;
  margin-bottom: 0px;
}
.bulk {
  color: #5b90fb;
}
.phone,
.email {
  font-size: 27px;
  color: #85888d;
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
.email {
  display: flex;
  justify-content: center;
}
.broucherContainer {
  margin-top: 17%;
  display: flex;
  justify-content: flex-end;
  color: #5b90fb;
}
.broucherContainer > span:nth-child(2) {
  margin-left: 5%;
  margin-right: 14%;
}
.mobileViewBuy {
  display: none;
}
@media screen and (max-width: 480px) {
  .carouselContainer {
    width: 70vw !important;
    margin-left: auto;
    margin-right: auto;
  }
  .price {
    font-size: 12px;
  }
  .amount {
    font-size: 18px;
  }
  .carouselContainer > img {
    width: 100vw !important;
  }
  .carouselContainer img {
    height: 50vh;
  }
  .subProdPara {
    width: 45vw;
  }
  .buyBtn {
    margin-left: 80px;
    width: 100px;
    height: 34px;
    font-size: 14px;
  }
  .productContainer {
    display: flex;
    flex-direction: column;
  }
  .productLeftView,
  .productRightView {
    flex: 1;
  }
  .broucherContainer {
    margin-top: 1vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 9.5px;
    font-weight: bold;
  }
  .productRightView {
    margin-left: 5vw;
  }
  .uv,
  .disinfect {
    font-size: 22px;
  }
  .mobileViewBuy {
    display: block;
    margin-top: 1vh;
  }
  .deskViewBuy {
    display: none;
  }
  .kills,
  .cv {
    font-size: 14px;
  }
  .specifications {
    font-style: 14px;
    font-weight: bolder;
    margin-bottom: 3vh;
    margin-top: 4vh;
  }
  .subProdSpan,
  .subProdPara {
    font-size: 12px;
  }
  .bulkorders > span {
    font-size: 14px;
  }
  .phone,
  .email {
    font-size: 14px;
  }
  .amazon > img,
  .flipkart > img {
    height: 70px;
    width: 140px;
  }
  .amazon,
  .flipkart {
    margin-bottom: 0vh;
  }
}
