.contactHeader {
  margin-top: 4vh;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.contact::-webkit-scrollbar{
  display: none;
}
.contactHeader > img {
  margin-left: 5vw;
  height: 28px;
  object-fit: contain;
  cursor: pointer;
}
.link,
.link:hover {
  margin-top: 2vh;
  margin-right: 5vw;
  text-decoration: none;
  color: black;
  font-weight: 650;
  font-size: 18px;
}
.breadCrumb {
  margin-left: 4.2vw;
  margin-top: 6vh;
  width: 25vw;
  display: flex;
  justify-content: space-around;
}
.breadCrumb > .links:hover,
.links {
  text-decoration: none;
  color: #d2d1d1;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 5vh;
}
.slash {
  font-size: 26px;
  color: #d2d1d1;
  font-weight: bold;
}
.active,
.active:hover {
  text-decoration: none;
  font-size: 26px;
  font-weight: bold;
  color: #5b90fb;
}
.seeMore {
  display: block;
  font-weight: 800;
  font-size: 24px;
  margin-left: 6vw;
  cursor: pointer;
}
.email {
  margin-top: 25vh;
  margin-bottom: 2vh;
  color: #85888d;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.googleForm {
  height: 186vh;
  width: 800px;
  overflow-x: hidden;
  overflow-y: hidden;
}
@media screen and (max-width: 780px) {
  .breadCrumb {
    width: 35vw;
  }
  .link,
  .link:hover {
    margin-top: 5vh;
  }
  .googleForm {
    height: 80vh;
    width: 80vw;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}
@media screen and (max-width: 480px) {
  .breadCrumb {
    width: 55vw;
  }
  .link,
  .link:hover {
    margin-top: 5vh;
  }
  .googleForm {
    height: 450px;
    width: 95vw;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}
