.mainNav {
  display: flex;
  height: 70px;
  background-color: #fff;
}
.mainNavLogo {
  display: flex;
  padding: 20px;
  margin-left: 5vw;
  flex: 0.7;
}
.mainNavLogo > img {
  height: 28px;
}
.navBarcontainer {
  max-width: 100%;
  overflow: hidden;
}
.mainNavLinks {
  display: flex;
  flex: 0.3;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 1vh;
}
.mainNavLinks > a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
}
.hamburger {
  display: none;
}
.navContainer {
  height: 35px;
  background-color: #d3d5d6;
  color: black;
  padding-top: 7px;
  padding-bottom: 7px;
  max-width: 100vw;
  display: flex;
  justify-content: flex-end;
}
.navLinks {
  display: flex;
  justify-content: space-evenly;
  width: 50vw;
}
.navLinks > a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}
.navItemContainer {
  display: none;
}
@media screen and (max-width: 630px) {
  .navLinks {
    width: 100vw;
  }
  .mainNavLogo {
    flex: 0.4;
    margin-left: 1vw;
  }
  .mainNavLinks {
    flex: 0.6;
    display: none;
  }
  .navContainer {
    display: none;
  }

  .hamburger {
    display: flex;
    flex: 0.6;
    align-items: flex-end;
    padding-bottom: 1vh;
    cursor: pointer;
    margin-right: 10vw;
    margin-bottom: 3vh;
    justify-content: flex-end;
  }
  .sideDrawer {
    height: 100vh;
    width: 55vw;
    background-color: #5b5a5a;
    box-sizing: border-box;
    z-index: 200;
    position: absolute;
    right: 0;
    transition: transform 0.3s ease-out;
  }
  .child {
    z-index: -1;
  }
  .open {
    transform: translateX(0);
    border: 1.2px solid #1288c9;
  }
  .close {
    transform: translateX(100%);
    display: none;
  }
  .navItemContainer {
    display: flex;
    flex-direction: column;
    padding-top: 6vh;
  }
  .Icons{
    display: flex;
  }
  .Icons > img{
    height:20px;
    margin-left: 10px;
    margin-right: 20px;
  }
  .Icons > img:nth-child(1){
    margin-left: 30px; 
  }
}
