.footerContainer {
  display: flex;
  height: fit-content;
  background-color: #262626;
  color: #f3e8e8;
  flex-wrap: wrap;
}
.footerLeft {
  display: flex;
  flex: 0.2;
}
.footerLeft > h4 {
  margin-left: 50px;
  font-weight: 800;
  font-size: 26px;
  margin-top: 16px;
  color: #f3e8e8;
}
.footerMiddle {
  display: flex;
  flex: 0.6;
}
.footerMiddle1,
.footerMiddle2 {
  display: flex;
  margin-right: 20px;
  margin-top: 10px;
  flex-direction: column;
  justify-content: space-around;
  font-weight: 600;
}
.footerMiddle3 {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 600;
}
.footerMiddle3 > a:nth-child(2) {
  margin-top: 25px;
}
.footerMiddle1 > a,
.footerMiddle2 > a,
.footerMiddle3 > a {
  text-decoration: none;
  color: #f3e8e8;
  cursor: pointer;
}
.footerRight {
  display: flex;
  flex: 0.2;
  flex-direction: column;
  margin-top: 40px;
}
.footerRight > h4 {
  color: #f3e8e8;
}
.footerRightIcons {
  margin-top: -5px;
}
.footerRightIcons > a{
  text-decoration: none;
  color: white;
  cursor: pointer;
  margin-left: 1vw;
}
@media screen and (max-width: 630px) {
  .footerContainer {
    flex-direction: column;
  }
  .footerMiddle {
    display: flex;
    justify-content: center;
  }
  .footerRight {
    display: flex;
  }
  .footerLeft{
      display: flex;
      justify-content: center;
  }
  .footerLeft > h4{
    margin-left: auto;
    margin-right: auto;
  }
  .footerRight > h4 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: -10px;
  }
  .footerRightIcons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3vh;
  }
}
