.iconContainer{
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.iconContainer{
    display: flex;
    flex-direction: column;
}
.iconContainer >img{
    height:100px;
    object-fit: contain;
}
.iconContainer >span{
    color: #8B8B8B;
    font-size: 12px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width:480px){
.iconContainer{
   margin-top: 2vh;
   margin-bottom: 1vh;
 }
 .iconContainer > span{
     margin-left: 3.5vw;
 };
}