html, body{
  font-family: 'Segoe UI';
}
.App{
  max-width: 100vw;
  min-height: 100vh;
  position: relative;
}
.product{
  max-width: 100vw;
}

.usability{
  height:fit-content;
  width:100%;
  max-width: 100vw;
  position: relative;
}
button:focus {
  outline: 0 !important;
}
body::-webkit-scrollbar{
  display: none;
}