@import '~antd/dist/antd.css';
html, body{
  font-family: 'Segoe UI';
}
.App{
  max-width: 100vw;
  min-height: 100vh;
  position: relative;
}
.product{
  max-width: 100vw;
}
.footer{
  position: relative;
  left: 0;
  right:0;
  bottom:0;
  top:1;
}
.usability{
  height:950px;
  width:100%;
  max-width: 100vw;
  position: relative;
}
