.usabilityContainer {
  min-height: 100vh;
  height: fit-content;
  width: 100%;
  max-width: 100vw;
  background-image: url("/Path12.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.usabilityTop {
  display: flex;
}
.surface {
  height: 50vh;
  opacity: 60%;
}
.usabilityTitle {
  font-size: 36px;
  font-weight: bold;
  margin-left: 25vw;
}
.usabilityMiddle {
  height: fit-content;
  /* width: fit-content; */
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  z-index: 100;
  margin-left: 6%;
  margin-right: 6%;
  margin-top: -18%;
  border-radius: 10px;
  border: 2px solid #1071ef;
  padding-bottom: 30px;
}
.usabilityBottom {
  color: #fff;
  font-size: 23px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}
.lastRow {
  display: flex;
  justify-content: center;
  position: relative;
}
.lastRow > h4 {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 5vw;
  font-weight: 400;
  color: #f3e8e8;
}
.lastRow > a {
  position: absolute;
  right: 10vw;
  bottom: 0.05vh;
}
.usabilityBottom > a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-weight: bold;
}
@media screen and (max-width: 480px) {
  .lastRow > a {
    position: absolute;
    right: 10vw;
    bottom: 5vh;
  }
  .surface {
    height: 30vh;
    opacity: 60%;
  }
  .usabilityTitle {
    margin-top: 3vh;
    margin-left: -6vw;
    font-size: 28px;
  }
  .usabilityMiddle {
    margin-top: -18vh;
  }
}
