.subUsability {
  display: flex;
  min-height: 30vh;
  max-height: 250px;
  height: fit-content;
}
.image > img {
  height: 26vh;
  max-height: 200px;
  object-fit: contain;
}
.image {
  margin-top: 3vh;
  margin-bottom: 3vh;
  margin-left: 5vw;
}
.descriptionContainer {
  display: flex;
  flex-direction: column;
  margin-left: 4vw;
}
.descriptionContainer > h5 {
  font-size: 26px;
  font-weight: bold;
  color: #5b90fb;
  margin-top: 16px;
  margin-bottom: 5px;
}
.descriptionContainer > p {
  font-size: 14px;
  font-weight: 500;
  color: #85888d;
  width: 62vw;
  margin-bottom: 0.4rem;
}
@media screen and (max-width: 480px) {
  .image > img {
    height: 280px;
    width: 33vw;
    /* object-fit: contain; */
  }
  .image {
    padding-bottom: auto;
  }
  .descriptionContainer > h5 {
    font-size: 14px;
  }
  .descriptionContainer > p {
    font-size: 12px;
    width: 48vw;
    padding-right: 10px;
  }
  .descriptionContainer {
    margin-top: 3vh;
  }
  .subUsability {
    /* margin-bottom: -6vh; */
    max-height: 350px;
  }
}
